<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(#{menu.list})"/>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu-sidebar"></div>
	<div class="container">
			<h1>list sample page</h1>
			<table>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>COUNTRY</th>
				<th>STATE</th>
				<th>MAP</th>
			</tr>
			<tr th:each="city : ${cities}">
				<td th:text="${city.id}">id</td>
				<td>
					<span th:if="${#lists.isEmpty(city.map)}" th:text="${city.name}"></span>					
					<span th:if="${not #lists.isEmpty(city.map)}">
						<a href="detail.html" th:href="@{/detail(cityId=${city.id})}" th:text="${city.name}"></a>
					</span>
		 		</td>
				<td th:text="${city.country}">egypt</td>
				<td th:text="${city.state}">none</td>
				<td th:text="${city.map}">156.3239,321.4245</td>
			</tr>
			<tr>
				<td colspan="5">
					<form action="/list.html" th:action="@{/list}">
					<fieldset>
						<input name="name" th:value="${param.name}" />
						<input name="country" th:value="${param.country}" />
						<input type="submit" value="search!" th:attr="value=#{btn.search}"/>
					</fieldset>
					</form>
				</td>
			</tr>
			<tr>
				<td colspan="5">


					<div class="row">
						<div 
							class="form-group col-md-11 pagination-centered">
							<ul class="pagination">
								<li th:class="${cities.isFirst()} ? disabled">
									<a class="pageLink" th:href="@{/list(page=0)}">&laquo;</a>
								</li>
								<li th:class="${!cities.hasPrevious()} ? disabled">
									<a th:href="${cities.hasPrevious()} ? @{/list(page=${cities.number-1})}">&larr;</a>
								</li>
								<li
									th:class="${cities.number == page} ? 'active pointer-disabled'"
									th:each="page : ${#numbers.sequence((cities.number/5)*5, ((cities.number/5)*5)+4 >= cities.totalPages ? cities.totalElements/cities.size : ((cities.number/5)*5)+4 )}">
									<a class="pageLink"
									th:href="@{/list(page=${page})}"
									th:text="${page+1}"></a>
								</li>
								<li
									th:class="${!cities.hasNext()} ? disabled">
									<a class="pageLink"
									th:href="${cities.hasNext()} ? @{/list(page=${cities.number+1})}">&rarr;</a>
								</li>
								<li
									th:class="${cities.isLast()} ? disabled">
									<a class="pageLink"
									th:href="@{/list(page=${cities.totalElements/cities.size})}">&raquo;</a>
								</li>
							</ul>
						</div>
					</div>
					<div th:text="'search keyword : name=' + ${param.name} + ', country=' + ${param.country}"></div>
					<div th:text="'cities number : ' + ${cities.number}"></div>
					<div th:text="'pageNumber : ' + ${cities.pageable.pageNumber}"></div>
					<div th:text="'pageSize : ' + ${cities.pageable.pageSize}"></div>
					<div th:text="'sort : ' + ${cities.pageable.sort}"></div>

				</td>
			</tr>
			</table>
	</div>
	<div th:replace="fragments/layout :: footer"/>
</body>
</html>